# dependencies
node_modules/

# server
server/.certs/
server/labpass.sqlite
server/*.sqlite
server/*.db
server/.env
server/.env.*

# frontend (landing, pwa)
landing/dist/
landing/.env
landing/.env.*
pwa/dist/
pwa/.env
pwa/.env.*

# OS
.DS_Store
.vscode/